[Unit]
Description=Enables bluetooth after sleep
After=suspend.target

[Service]
ExecStart=/usr/local/bin/start_bluetooth

[Install]
WantedBy=suspend.target
