[Unit]
Description=Disables bluetooth before sleep
Before=suspend.target

[Service]
ExecStart=/usr/local/bin/stop_bluetooth

[Install]
WantedBy=suspend.target
